</body>
<div class="card text-center">
  <div class="card-header">
    Programador...
  </div>
  <div class="card-body">
    <h5 class="card-title">Josbet Roberto Torres Ochoa</h5>
    <p class="card-text">Esta Pagina Contiene Derechos De Autor</p>
   
  </div>
 
</div>
</html>